appdirs==1.4.4
argcomplete==3.6.3
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
asciidoc==10.2.1
asttokens==3.0.1
async-lru==2.3.0
attrs==26.1.0
autocommand==2.2.2
bitarray==3.8.1
bitstring==4.4.0
dbus-python==1.4.0
filelock==3.29.0
idna==3.13
ImageIO==2.37.3
importlib_metadata==9.0.0
mutagen==1.47.0
narwhals==2.20.0
nbclient==0.10.4
nbconvert==7.17.1
nbformat==5.10.4
numpy==2.4.4
pathspec==1.1.1
pkg_resources==81.0.0
prompt_toolkit==3.0.52
ptyprocess==0.7.0
Pygments==2.20.0
PyGObject==3.56.2
pyogrio==0.12.1
pyparsing==3.3.2
pyproj==3.7.2
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5_sip==12.18.0
pyserial==3.5
PySocks==1.7.1
pytest==9.0.3
PyYAML==6.0.3
soundfile==0.13.1
