:root {
  --text-color: #ffffff;
  --background-color: #222226;
  --error-color: #c01c28;
  --accent-blue: #3584e4;
  --accent-blue-hover: #448be2;
  --accent: #2e2e32;
  --hover: rgba(175, 175, 175, 0.2);
  --highlight: rgb(255 255 255 / 20%);
}
