* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  transition: all 50ms ease-in-out;
}

.page {
  padding: 60px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: var(--background-color);
}

.page-container {
  margin-left:  60px;
  margin-right: 60px;
}

.title {
  font-size: x-large;
}

.navi-bar {
  padding-left:  60px;
  padding-right: 60px;
}

.navi-options-container {
  padding: 4px;
  border-radius: 10px;
  background-color: var(--accent);
}

.btn {
  border-radius: 8px;
  border-width: 0px;
  background: white;
  color: var(--text-color);
  padding: 10px;
  padding-left:  50px;
  padding-right: 50px;
  font-size: large;
}

.selection-container {
  background-color: aqua;
}
.selection-btn {
  padding: 5px;
  padding-left:  20px;
  padding-right: 20px;
  background-color: var(--accent);
  color: var(--text-color);
} .selection-btn:hover {
  background-color: var(--hover);
} .selection-btn-highlighted {
  background-color: var(--highlight);
}

.submit-btn {
  background-color: var(--accent-blue);
  border-radius: 50px;
  color: var(--text-color);
} .submit-btn:hover {
  background-color: var(--accent-blue-hover);
}

.select-file-btn {
  padding: 60px;
  border-radius: 10px;
  border-width: 0px;
  background: var(--accent);
  color: var(--text-color);
  font-size: large;
} .select-file-btn:hover {
  background-color: var(--hover);
}


.entries-container {
  padding: 4px;
  border-radius: 10px;
}
.entry-label {
  margin-left: 4px;
}
.entry-field {
  padding: 2px;
  padding-left:  20px;
  padding-right: 20px;
  background-color: var(--accent);
  color: var(--subtext-color);
}

.switch {
  max-height: 10px;
}